/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

#header {
	padding: 20px;
	text-align: center;
}


@media only screen and (max-width: 767px) {
	#result {
		padding: 10px;
	}

	#footer {
		padding: 10px;
	}
}
/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


